<body>
    <header>
        <div>
            <ul>
                <li><a href="#login" routerLink="login-form">Login</a></li>
                <li><a href="#home" routerLink="searchall">Home</a></li>
                <li><a href="#Insert" routerLink="postfimls">Insert</a></li>
                <li><a href="#Update" routerLink="putfilms">Update</a></li>
                <li><a href="#searchid" routerLink="searchId">SerachId</a></li>
                <li style="float:right"><a class="active" href="#about">About</a></li>
            </ul> 
        </div>
    </header>
</body>
<router-outlet></router-outlet>
